.button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: .05vw solid black ;
    font-size: .95vw;
    font-weight: 700;
    height: 2vw;
    width: 8vw;
    padding:.5vw;
    border-radius: 2vw ;
    transition: all 300ms ;
}
.button:hover{
    cursor: pointer;
    background-color: rgb(55, 52, 52);
    color: white;
}