.inf{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin:auto;
    color: rgb(66, 64, 64);
    margin-bottom: .8vw;
    .header{
        display: flex;
        justify-content: space-between;
        font-size: 1vw;
        font-weight: 600;
        .date{
            font-size:1vw;
            font-weight:500 ;
        }
    }
    .desc{
        font-size: 1vw;
    }
}